html {
  background: $color-background;
}

body {
  background: none;
  position: relative;
  overflow-x: hidden
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}

.container {
  align-self: center;
  width: auto;
  padding: 0 1rem;
  max-width: $content-width;
  margin: 0 auto;
}

%grid {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem 0;
}

.grid-3 {
  @extend %grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

#form {
  text-align: center;

  select {
    border: solid 1px;
  }
}

.justify {
  justify-items: center;
}

#footer {
  padding-top: 40px;
}

#shameless_plug {
  text-align: right;
}

@media(max-width: 400px) {
  %grid {
    grid-template-columns: 1fr;
  }
}

// gutenberg
.alignwide {
  margin-left: $content-width * -0.1;
  margin-right: $content-width * -0.1;
  max-width: none;
}

.alignfull {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: none;
  border-radius: 0;
}

.alignfull img {
  width: 100vw;
}

/* Homepage Nav */
nav {
  transition: ease-in-out 0.2s;
  list-style: none;
  width: 100%;
  position: fixed;
  z-index: 10;
  font-size: 1.2rem;
  background-color: $color-background;

  ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      a {
        background: none;
        color: $color-text;
        display: block;
        text-decoration: none;
        padding: 2.5vh 10px;
      }

      a:hover {
        text-decoration: underline;
        color: $color-text;
      }

      .active {
        border-bottom: solid 1px $color-text;
      }
    }
  }
}

/* Subpage Nav */
.nav-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
  }
}

@media(max-width: $content-width + $content-width * 0.2 + 48px) {
  .alignwide {
    margin-left: calc(50% - 50vw + 24px);
    margin-right: calc(50% - 50vw + 24px);
  }
}

@media(max-width: $content-width) {
  .alignwide {
    margin-left: 0;
    margin-right: 0;
  }
}