body {
  font-family: $font-stack;
}
h1 {
  color: $color-element;
}

h2 {
  color: $color-element;
  font-weight: 900;
}

p {
  color: $color-text;
}

a {
  color: $color-element;
}

a:hover {
  color: $color-element;
}

// Font weight classes
.black {
  font-weight: 900;
}

.light {
  font-weight: 300;
}