#start {
  padding-top: 0;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  margin-bottom: 15px;
}

#title {
  font-size: 6vw;
  color: $color-title;
  z-index: 1;
  display: table;
  margin: 0 auto;
}

#titletype {
  text-align: center;
  color: $color-background;
    display: table;
  margin: 0 auto;

  span {
    font-size: 3vw !important;
  }
}

@media (max-width: 767px) {
  #title {
    font-size: 9vw;
  }
}